.grey-info {
  font-size: 12px;
  color: grey;
}
div.errors ul {
  margin-bottom: 0px;
}
.message-div {
  padding: 15px;
}
label {
  font-weight: normal;
}
.maincolor-box {
  color: white;
  background-color: #00A65A;
}
.maincolor-box:hover,
.maincolor-box:active,
.maincolor-box:focus {
  color: white;
  background-color: #009049;
}
.inline-block {
  display: inline-block;
}
ul.pagination li.active a {
  background-color: #00A65A;
  border-color: #009049;
}
ul.pagination li.active a:hover,
ul.pagination li.active a:active,
ul.pagination li.active a:focus {
  background-color: #00A65A;
  border-color: #009049;
}
.loader {
  display: none;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: 65px;
  background-image: url("../images/loader-ring.gif");
  background-size: 100%;
}
.daterange {
  width: 400px;
  overflow: hidden;
  float: left;
}
.daterange label {
  margin-left: 5px;
}
.down-control {
  clear: both;
  display: none;
}
.down-control #add-filter-row {
  margin-top: 5px;
}
.down-control #example-filter-row {
  display: none;
}
.down-control .remove-filter-row {
  font-size: 18px;
  color: #00A65A;
  cursor: pointer;
}
.down-control .comparison {
  width: 191px;
}
.down-control .property-name,
.down-control .value {
  width: 200px !important;
}
.graph-tooltip {
  position: absolute;
  color: white;
  display: none;
  border: 1px solid #009049;
  padding: 2px;
  background-color: #00A65A;
  opacity: 0.80;
  z-index: 1000;
}
.graph-checkboxes input {
  margin-left: 10px;
  margint-right: 2px;
}
#data-holder {
  color: #00A65A;
}
.sidebar-menu .project-name {
  color: white !important;
}
.tab-div {
  display: none;
}
form.no-style-form {
  margin-bottom: 0px;
}

.login-form {
  width: 300px;
  margin: 0px auto;
  margin-top: 100px;
}
.login-form .form-control {
  margin: 5px;
}
.login-form input[type='submit'] {
  background-color: #00A65A;
  color: white;
}
.login-form input[type='checkbox'] {
  margin-left: 5px;
}
.login-form div {
  margin-left: 7px;
}

.log input,
.log select {
  display: inline-block;
  width: auto;
}
.log .upper-control .add-filter {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.log .upper-control input[name="message-search"] {
  width: 400px;
  float: left;
}
.log .page-numbers {
  text-align: center;
}
.log-records {
  font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
  margin-top: 20px;
}
.log-records pre {
  font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
}
.log-records .box {
  border-top: none;
  margin: 0px;
  padding-left: 5px;
}
.log-records .box:first-of-type {
  padding-top: 5px;
}
.log-records .box:last-of-type {
  padding-bottom: 5px;
}
.log-records .box .box-header {
  padding: 1px;
}
.log-records .box .box-header .text {
  width: 100%;
  padding-right: 100px;
  overflow: hidden;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.log-records .box .box-header .more {
  width: 100px;
  top: 0px;
  right: 0px;
}
.log-records .box .box-header .more a {
  padding: 1px;
  padding-right: 10px;
  float: right;
}
.log-records .box .box-body {
  background-color: #F7F7F7;
}
.log-graph {
  width: 100%;
  height: 100px;
  padding-right: 50px;
}
.log-graph .log-graph-area {
  width: 100%;
  height: 100px;
}
@media (max-width: 730px) {
  .filters input,
  .filters select {
    width: 100% !important;
  }
}
@media (min-width: 730px) and (max-width: 955px) {
  .filters input,
  .filters select {
    width: 115px !important;
  }
}
@media (max-width: 520px) {
  .log .upper-control input[name="message-search"] {
    width: 100%;
  }
  .log .upper-control .daterange {
    width: 100%;
  }
  .log .upper-control .daterange i {
    display: none;
  }
}

.segmentation input,
.segmentation select {
  display: inline-block;
}
.segmentation .form-control {
  width: auto;
}
.segmentation select.form-control,
.segmentation input.form-control {
  padding: 3px;
  height: 28px;
}
.segmentation div.level {
  float: left;
  width: 180px;
}
.segmentation .select2-selection {
  border-radius: 0px;
  padding: 3px;
}
.segmentation select#event {
  width: 443px;
}
.segmentation .upper-bar {
  margin-top: 30px;
}
.segmentation .upper-bar .group-by {
  width: 230px;
  float: left;
  margin-right: 10px;
}
.segmentation .upper-bar .group-by select {
  width: 150px;
}
.segmentation .upper-bar .interval {
  width: 156px;
  float: left;
  clear: both;
  margin-right: 10px;
}
.segmentation .upper-bar .target-property select {
  width: 150px;
}
.segmentation .upper-bar .aggregation {
  float: left;
  width: 184px;
  margin-right: 10px;
}
.segmentation .upper-bar .daterange {
  height: 28px;
  padding: 3px 12px;
  width: 385px !important;
  margin-right: 5px;
}
.segmentation .upper-bar button {
  padding: 3px 12px;
}
.segmentation .graph {
  clear: both;
  width: 100%;
  padding-right: 50px;
  margin-top: 20px;
}
.segmentation .graph .graph-area {
  width: 100%;
  height: 400px;
}
.segmentation .graph .graph-area.graph-one-value-container {
  background-color: #00A65A;
  vertical-align: middle;
  text-align: center;
  line-height: 400px;
}
.segmentation .graph .graph-one-value {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  font-weight: bold;
}
.segmentation #export-image {
  margin-right: 50px;
  margin-top: 20px;
  display: none;
  width: 200px;
}

.user-management-table td:nth-of-type(2),
.user-management-table td:nth-of-type(3),
.user-management-table td:nth-of-type(4) {
  text-align: center;
}
.user-management-table td,
.user-management-table th {
  padding: 3px;
}

.alerting table td,
.alerting table th {
  padding: 2px;
}
.alerting table.current-alerting {
  margin-bottom: 50px;
}
.alerting table.current-alerting td:nth-of-type(1) {
  width: 100px;
}
.alerting table.current-alerting td:nth-of-type(2) {
  padding-right: 30px;
}
.alerting input,
.alerting select {
  height: 32px;
}

/*# sourceMappingURL=main.css.map */
